.crew-container {
    min-height: 100vh;
    background-color: $base-color;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    user-select: none;

    @include media('>tablet') {
        background-image: url('../imgs/background-crew-desktop.jpg');
    }
    @include media('<=tablet', '>lg-phone') {
        background-image: url('../imgs/background-crew-tablet.jpg');
    }
    @include media('<=lg-phone') {
        background-image: url('../imgs/background-crew-mobile.jpg');
        text-align: center;
    }
}

.crew-grid {
    display: grid;
    @include media('>tablet') {
        grid-template-columns: auto auto;
        margin-top: 13vh;
    }
    @include media('<=lg-phone') {
        display: flex;
        flex-direction: column;
    }
    .col-left { 
        @include media('<=lg-phone') {
            /* display: flex;
            flex-direction: column; */
        } 
        .crew-header {
            font-family: $font-secondary;
            color: $text-primary-color;
            @include media('>tablet') {
                margin-top: -3.111vh;
                margin-left: 11.563vw;
                font-size: calc(1.556vh + 0.972vw);
                letter-spacing: 0.328vw;
                
            }
            @include media('<=tablet', '>lg-phone') {
                margin-top: 3.906vh;
                margin-left: 4.948vw;
                font-size: calc(0.977vh + 1.302vw) ;
                letter-spacing: 0.440vw;
            }
            @include media('<=lg-phone') {
                position: absolute;
                height: 19px;
                width: 100%;
                top: 74px;
                margin-left: auto;
                margin-right: auto;
                font-size: 4.267vw;
                letter-spacing: 0.720vw;
            }
            .crew-number {
                color: hsla(0, 0, 100, .25);
                @include media('>tablet') {
                    margin-right: 1.339vw;
                }
                @include media('<=tablet', '>lg-phone') {
                    margin-right: 1.643vw;
                }
                @include media('<=lg-phone') {
                    margin-right: 3.36vw;
                }
            }
        }
        .member-info {
            @include media('>tablet') {
                margin-top: 17.111vh;
                margin-left: 11.563vw;
            }
            @include media('<=tablet', '>lg-phone') {
                margin-top: 5.859vh;
                text-align: center;
            }
            @include media('<=lg-phone') {
                display: flex;
                flex-direction: column;
            }
            
            .member-role {
                font-family: $font-primary;
                color: hsla(0, 0, 100, .5);
                @include media('>tablet') {
                    font-size: calc(1.778vh + 1.111vw);
                }
                @include media('<=tablet', '>lg-phone') {
                    font-size: calc(1.172vh + 1.563vw);
                }
                @include media('<=lg-phone') {
                    margin-top: 32px;
                    font-size: 4.267vw;
                }
            }
            .member-name {
                font-family: $font-primary;
                color: $text-primary-color;
                @include media('>tablet') {
                    margin-top: 1.667vh;
                    height: 7.111vh;
                    font-size: MIN(3.889vw, 6.222vh)//calc(3.111vh + 1.994vw);

                }
                @include media('<=tablet', '>lg-phone') {
                    margin-top: 0.781vh;
                    font-size: calc(1.953vh + 2.604vw);
                }
                @include media('<=lg-phone') {
                    margin-top: 8px;
                    font-size: 6.4vw;
                }   
            }
            .member-bio {
                font-family: $font-tertiary;
                line-height: 2;
                color: $text-secondary-color;
                @include media('>tablet') {
                    margin-top: 3vh;
                    height: 14.222vh;
                    width: 30.883vw;
                    font-size: calc(1vh + 0.625vw);          
                }
                @include media('<=tablet', '>lg-phone') {
                    margin-top: 1.563vh;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: calc(0.781vh + 1.042vw);
                    height: 8.203vh;
                    vertical-align: text-top;
                    line-height: calc(1.367vh + 1.823vw);
                }
                @include media('<=lg-phone') {
                    margin-top: 16px;
                    margin-right: auto;
                    margin-left: auto;
                    width: 87.2vw;
                    font-size: 4vw;
                    line-height: 1.5;
                    margin-bottom: 104px;
                }
            }
            .bio-dou {
                @include media('<=tablet', '>lg-phone') {
                    width: 59.635vw;
                }  
            }
            .bio-mar {
                @include media('<=tablet', '>lg-phone') {
                    width: 67.708vw;
                }  
            }
            .bio-vic {
                @include media('<=tablet', '>lg-phone') {
                    width: 77.083vw;
                }  
            }
            .bio-ano {
                @include media('<=tablet', '>lg-phone') {
                    width: 69.792vw;
                }  
            }
            .member-navbar {
                @include media('>tablet') {
                    margin-top: 13.333vh;
                    margin-left: 0.139vw;
                    height: 1.667vh;
                }
                @include media('<=tablet', '>lg-phone') {
                    margin-top: 3.906vh;
                }         
                @include media('<=lg-phone') {
                    order: -1;
                }
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                @include media('>tablet') {
                    height: 1.667vh;
                }
            }
            .custom-bullet {
                display: inline-block;
                background-color:hsla(0, 0, 59, 0.17);
                @include media('>tablet') {
                    height: calc(0.833vh + 0.536vw);
                    width: calc(0.833vh + 0.536vw);
                    border-radius: calc(0.4165vh + 0.268vw);
                    margin-right: 1.875vw;
                    margin-bottom: 0.222vh;
                    cursor: pointer;
                }
                @include media('<=tablet', '>lg-phone') {
                    height: calc(0.556vh + 0.357vw);
                    width: calc(0.556vh + 0.357vw);
                    border-radius: calc(0.244vh + 0.326vw);
                    margin-right: 1.042vw;
                    margin-left: 1.042vw;
                }
                @include media('<=lg-phone') {
                    height: 10px;
                    width: 10px;
                    border-radius: 5px;
                    margin-right: 8px;
                    margin-left: 8px;
                    margin-top: 32px;
                }
            }
            .custom-bullet:not(.member-selected):hover {
                background-color:hsla(0, 0, 59, 0.5);
            }
            .member-selected {
                background-color: $text-primary-color
            }
        }
    }
    .col-right {
        @include media('>tablet') {
            margin-top: -7.778vh;
            height: 84.111vh;
            display: flex;
            align-items: flex-end;
            place-content: flex-end;
        }
        
        @include media('<=tablet', '>lg-phone') {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            place-content: center;
            @media (min-aspect-ratio: 4/5) {
                position: relative;
                margin-top: 3.906vh; 

            }           
        }
        @include media('<=lg-phone') {
            width: 87.2vw;
            height: 59.467vw;
            margin-top: 75px;
            margin-left: auto;
            margin-right: auto;
            order: -1;
            border-bottom: 1px solid hsla(0, 0, 59, 100);
        }
        .img-container-dou {
            @include media('>tablet') {
                width: MIN(39.449vw, 63.119vh);//568.07px;
                height: MIN(49.444vw, 79.111vh);//712px;
                margin-right: 9.509vw;//136.93px;
                display: flex; 
                justify-content: flex-end;          
            }  
            @include media('<=tablet', '>lg-phone') {
                width: MIN(44.567vh, 59.423vw);//456.37px;
                height: MIN(51.953vh, 69.271vw);//532px;
                //margin-left: 20.293vw;
                display: flex;
                place-content: center;
            }  
            @include media('<=lg-phone') {
                display: flex;
                justify-content: center;
                height: 100%;
            }
        }
        .img-container-mar {
            @include media('>tablet') {
                width: MIN(31.489vw, 50.382vh);//453.44px;
                height: MIN(45.417vw, 72.667vh);//654px;
                display: flex;
                justify-content: flex-end;
                margin-right: 12.956vw;//186.56px;
            }  
            @include media('<=tablet', '>lg-phone') {
                width: MIN(36.021vh, 48.027vw);//368.85px;
                height: MIN(51.953vh, 69.271vw);//532px;
               // margin-left: 26.042vw;
                display: flex;
                place-content: center;
            } 
            @include media('<=lg-phone') {
                display: flex;
                justify-content: center;
                height: 100%;
            }
        }
        .img-container-vic {
            @include media('>tablet') {
                width: MIN(61.599vh, 38.499vw);//554.39px;
                height: MIN(72.667vh, 45.417vw);//654px;
                display: flex;
                justify-content: flex-end;
                margin-right: 9.903vw;
            }  
            @include media('<=tablet', '>lg-phone') {
               width: MIN(44.567vh, 59.423vw);//456.37px;
               height:  MIN(51.953vh, 69.271vw);//532px;
               //margin-left: 20.313vw;
               display: flex;
               place-content: center;
            }  
            @include media('<=lg-phone') {
                display: flex;
                justify-content: center;
                height: 100%;
            }
        }
        .img-container-ano {
            @include media('>tablet') {
                width: MIN(68.397vh, 42.748vw);//615.57px;
                height: MIN(67.444vh, 42.153vw);//607px;
                display: flex;
                justify-content: center;
                margin-right: 6.210vw;
            } 
            @include media('<=tablet', '>lg-phone') {
                width: MIN(52.687vh, 70.249vw);//539.51px;
                height: MIN(51.953vh, 69.271vw);//532px;
                //margin-left: 17.448vw;//134px;
                display: flex;
                place-content: center;
            } 
            @include media('<=lg-phone') {
                display: flex;
                justify-content: center;
                height: 100%;
            }
        } 
        .crew-img {
            
            @include media('<=tablet', '>lg-phone') {
                height: 100%;
            }
            @include media('<=lg-phone') {
                height: 100%;
            }
        }
    }
}