.destinations-container {
    min-height: 100vh;
    background-color: $base-color;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    user-select: none;

    @include media('>tablet') {
        background-image: url('../imgs/background-destination-desktop.jpg');
    }
    @include media('<=tablet', '>lg-phone') {
        background-image: url('../imgs/background-destination-tablet.jpg');
    }
    @include media('<=lg-phone') {
        background-image: url('../imgs/background-destination-mobile.jpg');
        text-align: center;
    }
}

.destinations-header {
    color: $text-primary-color;
    font-family: $font-secondary;
    @include media('>tablet') {
        margin-top: 12.889vh;
        margin-left: 11.563vw;
        font-size: calc(1.556vh + 0.972vw);
        letter-spacing: 0.328vw;           
    }
    @include media('<=tablet', '>lg-phone') {
        margin-top: 3.906vh;
        margin-left: 5.013vw;
        font-size: calc(0.977vh + 1.302vw);
        letter-spacing: 0.440vw;
    }
    @include media('<=lg-phone') {
        margin-top: 24px;
        font-size: 4.267vw;
        letter-spacing: 0.720vw;
    }
    .header-number {
        color: hsla(0, 0, 100, 0.25);
        @include media('>tablet') {
            margin-right: 1.617vw;
        }
        @include media('<=tablet', '>lg-phone') {
            margin-right: 2.034vw;
        }
        @include media('<=lg-phone') {
            margin-right: 3.36vw;
        }
    }
}

.planet-grid {
    display: grid;
    @include media('>tablet') {          
        margin-top: 3.222vh;
        grid-template-columns: 50% 50%;
        
    }
    @include media('<=tablet', '>lg-phone') {
        margin-top: -20px;
    }
    .planet-img-col {
        @include media('>tablet') {
            margin-top: 10.778vh;        
        }
        .planet-img {
            background-color: $base-color;
            @include media('>tablet') {
                //MIN all uppercase because sass compiler is case sensitive (css is not), with lowercase it runs
                //its own version of the function which can't compute vw and vh 
                height: MIN(30.903vw, 49.444vh);
                width: MIN(30.903vw, 49.444vh);
                border-radius: MIN(15.4515vw, 24.722vh);
                /* height: calc(32.778vh + 10.417vw);
                width: calc(32.778vh + 10.417vw);
                border-radius: calc(16.389vh + 5.208vw); */
                margin-left: 15.972vw;     
            }
            @include media('<=tablet', '>lg-phone') {
                margin-top: MAX(5.859vh, 20px);
                margin-left: auto;
                margin-right: auto;
                height: calc(14.648vh + 19.531vw);
                width: calc(14.648vh + 19.531vw);
                border-radius: calc(7.324vh + 9.7655vw);
            }
            @include media('<=lg-phone') {
                height: 45.333vw;
                width: 45.333vw;
                border-radius: 22.6665vw;
                margin-left: auto;
                margin-right: auto;
                margin-top: 32px;
            }
        }
    }

    .planet-info-col {
        background-color: transparent;
        @include media('>tablet') {
            margin-top: 7.11vh;
        }
        @include media('<=tablet', '>lg-phone') {
            text-align: center;       
        }
        .planet-info {
            @include media('>tablet') {
                margin-left: 7.778vw;
                height: 52.444vh;
                width: 30.903vw;
            }
        }
        .mini-nav-bar {
            @include media('>tablet') {
                height: 3.778vh;
                display: flex;
                place-items: center;
            }
            @include media('<=tablet', '>lg-phone') {
                margin-top: 5.176vh;
                height: 3.32vh;
            }
            @include media('<=lg-phone') {
                margin-top: 26px;
            }
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
            //height: 100%;
        }
        li {
            display: inline-block;
            height: 100%;
            display: inline-flex;
            //align-items: top;
            font-family: $font-secondary;
            color: $text-primary-color;
            
            @include media('>tablet') {
                margin-right: 2.243vw;
                font-size: calc(0.889vh + 0.556vw);
                letter-spacing: 0.188vw;
                cursor: pointer;
            }
            @include media('<=tablet', '>lg-phone') {
                margin-right: 2.168vw;
                margin-left: 2.168vw;
                font-size: calc(0.781vh + 1.042vw);
                letter-spacing: 0.352vw;
                color: $text-secondary-color;
            }
            @include media('<=lg-phone') {
                margin-right: 3.467vw;
                margin-left: 3.467vw;
                height: 7.467vw;
                font-size: 3.733vw; 
                letter-spacing: 0.269vw;
            }
        }
        li:not(.nav-item-selected):hover {
            border-bottom: 3px solid hsla(0, 0, 100, 0.5);
            padding-top: 3px;
        }
        .nav-item-selected {
        border-bottom: 3px solid hsla(0, 0, 100, 1);
        padding-top: 3px;
        }
        .planet-header {
            font-family: $font-primary;
            color: $text-primary-color;
            text-align: top;
            @include media('>tablet') {
                margin-top: MAX(4.11vh, 10px);
                height: 12.778vh;
                //font-size: calc(5.556vh + 3.472vw);
                font-size: MIN(6.944vw, 11.111vh);              
            }
            @include media('<=tablet', '>lg-phone') {
                font-size: calc(3.906vh + 5.208vw);
                margin-top: MAX(3.125vh, 20px);
            }
            @include media('<=lg-phone') {
                margin-top: 20px;
                font-size: 14.933vw;
            }
        }
        .planet-description {
            font-family: $font-tertiary;
            color: $text-secondary-color;
            line-height: 2;
            @include media('>tablet') {
                margin-top: 1.556vh;
                font-size: calc(1vh + 0.625vw);             
            }
            @include media('<=tablet', '>lg-phone') {
                width: 74.609vw;
                margin-top: 0.781vh;
                margin-left: auto;
                margin-right: auto;
                font-size: calc(0.781vh + 1.042vw);  
            }
            @include media('<=lg-phone') {
                width: 87.2vw;
                margin-left: auto;
                margin-right: auto;
                font-size: 4vw;
            }
        }
        .planet-additional-info {
            border-top: solid 1px #383B4B;           
            
            @include media('>tablet') {
                display: grid;
                grid-template-columns: 50% 50%;       
                margin-top: 6vh; 
            }
            @include media('<=tablet', '>lg-phone') {
                display: grid;
                grid-template-columns: 50% 50%;
                width: 74.609vw;
                margin-top: 4.785vh;
                margin-left: auto;
                margin-right: auto;
            }
            @include media('<=lg-phone') {
                margin-top: 32px;
                width: 87.2vw;
                margin-left: auto;
                margin-right: auto;
            }
            .distance {
                display: inline-block;
                @include media('>tablet') {
                    //height: 15.889vh;
                    width: 11.181vw;
                }
                @include media('<=lg-phone') {
                    display: block;
                }
            }
            .traveltime {
                display: inline-block;
                @include media('>tablet') {
                    width: 11.181vw;           
                }
            }
            .additional-info-header {
                font-family: $font-secondary;
                color: $text-secondary-color;
                @include media('>tablet') {
                    font-size: calc(0.778vh + 0.486vw);
                    letter-spacing: 0.164vw;
                }
                @include media('<=tablet', '>lg-phone') {
                    font-size: calc(0.684vh + 0.911vw);
                    letter-spacing: 0.307vw;
                    margin-top: 2.734vh;
                }
            }
            .distance-h {
                @include media('<=lg-phone') {
                    margin-top: 32px;
                    font-size: 3.733vw;
                    letter-spacing: 0.629vw;
                }
            }
            .travel-h {
                @include media('<=lg-phone') {
                    margin-top: 4px;
                    font-size: 3.733vw;
                    letter-spacing: 0.269vw;
                }
            }
            .additional-info-data {
                font-family: $font-primary;
                color: $text-primary-color;
                @include media('>tablet') {
                    font-size: calc(1.556vh + 0.972vw);
                    margin-top: 1.333vh;      
                }
                @include media('<=tablet', '>lg-phone') {
                    font-size: calc(1.367vh + 1.823vw);
                    margin-top: 1.172vh;
                }
            }
            .distance-data {
                @include media('<=lg-phone') {
                    font-size: 7.467vw; 
                    margin-top: -2px;   
                }
            }
            .travel-data {
                @include media('<=lg-phone') {
                    font-size: 7.467vw;  
                    margin-top: -2px;   
                    margin-bottom: 58px;        
                }
            }
        }
    }
}