.home-container {
    min-height: 100vh ;
    background-color: $base-color;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    user-select: none;

    @include media('>tablet') {
        display: grid;
        background-image: url('../imgs/background-home-desktop.jpg');
    }
    @include media('<=tablet', '>lg-phone') {
        display: block;
        background-image: url('../imgs/background-home-tablet.jpg');
        @media (min-aspect-ratio: 4/4) {
            background-position: center;
        }
    }
    @include media('<=lg-phone') {
        background-image: url('../imgs/background-home-mobile.jpg');
    }
    
}

.home-grid {
    @include media('>tablet') {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 7.889vh;
    }
}

.home_jumbo {
    background-color: hsla(0, 0%, 100%, 0);
    @include media('>tablet') {   
        margin-left: 11.458vw;  
        height: 42.44vh;
        width: 31.250vw; 
    }
    @include media('<=tablet', '>lg-phone') {
        margin-top: 10.352vh;
        margin-left: auto;
        margin-right: auto;
        // height: 32.617vh;
        width: 58.594vw;
        text-align: center;
    }
    @include media('<=lg-phone') {
        margin-top: 7.196vh;
        text-align: center;
    }
    .jumbo_premise {
        font-family: $font-secondary;
        color: $text-secondary-color;
        @include media('>tablet') {
            margin-bottom: 2.667vh;
            margin-top: 0px;
            font-size: calc(1.556vh + 0.972vw);
            letter-spacing: 0.328vw;
        }
        @include media('<=tablet', '>lg-phone') {
            margin-bottom: 2.344vh;       
            font-size: 1.953vh;
            letter-spacing: 0.440vw;
        }
        @include media('<=lg-phone') {
            margin-bottom: 2.399vh;
            font-size: calc(1.199vh + 2.133vw);
            letter-spacing: 0.720vw;
        }
        
    }
    .jumbo_capital {
        margin: 0px;
        font-family: $font-primary;
        color: $text-primary-color;
        @include media('>tablet') {
            font-size: calc(8.333vh + 5.208vw);
            margin-bottom: 2.667vh;
        }
        @include media('<=tablet', '>lg-phone') {
            font-size: calc(7.324vh + 9.766vw);
        }
        @include media('<=lg-phone') {
            font-size: MIN(11.994vh, 21.333vw);
            margin-bottom: 2.399vh;
            height: 14.993vh;
        }
    }
    
    .jumbo_text {
        margin: 0;
        font-family: $font-tertiary;
        color: $text-secondary-color;
        padding-left: 0.5px;
        padding-right: 5.5px;
        @include media('>tablet') {
            font-size: MAX(2vh, 14px);       
            line-height: 2;
        }
        @include media('<=tablet', '>lg-phone') {
            font-size: calc(0.781vh + 1.042vw);
            line-height: 2;
            

        }
        @include media('<=lg-phone') {
            width: 87.2vw;
            font-size: calc(1.124vh + 2vw);
            margin-left: auto;
            margin-right: auto;
            line-height: 1.7;
        }
    }
}

.main-button {
    display: flex;
    font-family: $font-primary;
    background-color: $text-primary-color;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: #0B0D17;

    @include media('>tablet') {       
        height: 30.444vh;
        width: 30.444vh;
        border-radius: 15.222vh;
        font-size: 3.556vh;
        letter-spacing: 0.222vh;
        margin-left: 19.514vw;
        margin-top: 12vh;
        //margin-left: 69.514vw;
        //margin-top: 30vh;
    }
    @include media('<=tablet', '>lg-phone') {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15.234vh;
        height: 23.633vh;
        width: 23.633vh;
        border-radius: 11.8165vh;
        font-size: 3.125vh;
        letter-spacing: 0.260vw;
        margin-bottom: 10px;
        -webkit-tap-highlight-color: transparent;
    }
    @include media('<=lg-phone') {
        height: MIN(22.489vh, 40vw);//calc(11.244vh + 20vw);   
        width: MIN(22.489vh, 40vw);
        border-radius: MIN(11.2445vh, 20vw);//calc(5.622vh + 10vw);
        margin-top: 12.144vh;
        margin-right: auto;
        margin-left: auto;
        font-size: 5.333vw;
        letter-spacing: 1.25px; 
        margin-bottom: 10px;
        -webkit-tap-highlight-color: transparent;

    }
    &:hover {
        @include media('>tablet') {
            box-shadow: 0 0 0 9.778vh hsla(0, 0%, 100%, 0.2);          
        }
    }
    &:active {
        @include media('>tablet') {
            background-color: transparent;
            color: white;
            box-shadow: 0 0 0 9.778vh hsla(0, 0%, 100%, 0.5);          

        }
        @include media('<=tablet') {
            background-color: transparent;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border: 1px solid white;
            color: white;
        }
    }
    
}


