.navbar {
    position: relative;
    display: flex;
    user-select: none;
    @include media('>tablet') {
        margin-left: auto;    
        width: 96.181vw;
        height: 10.667vh;
        top: 4.444vh;
    }
    @include media('<=tablet', '>lg-phone') {
        //width: 94.922vw;
        height: 9.375vh;
        top: 0px;
        margin-left: 5.078vw;
    }
    .navbar_left-half {
        display: grid;
        background-color: transparent;
        align-content: center;
        @include media('>tablet') {       
            width: 38.542vw;
        }
        @include media('<=tablet', '>lg-phone') {
            width: 36.198vw;
        }
        .nav-icon {
            height: calc(2.667vh + 1.667vw);
            @include media('<=tablet', '>lg-phone') {
                height: 4.688vh;
            }
            @include media('<=lg-phone') {
                height: 10.667vw;
                margin-top: 6.4vw;
                margin-left: 6.4vw;
            }
        }
        .line {
            @include media('>tablet') {        
                display: inline-block;
                position: absolute;
                width: 32.847vw;
                height: 0.069vw;
                background-color: #FFFFFF;
                margin-top: 5.278vh;
                margin-left: 7.778vw;
                z-index: 1000;
            }
            @include media('<=tablet') {
                display: none;
            }
        }
    }
    .navbar_right-half {     
        display: grid;
        margin-right: 0px;
        background-color: hsla(0, 0%, 100%, 0.05);
        backdrop-filter: blur(40px);
        align-items: center;
        @include media('>tablet') {
            //width: 57.639vw;
            width: 59.928%;
            height: inherit;          
        }
        @include media('<=tablet', '>lg-phone') {
            width: 59.896vw;
            height: 9.375vh;
        }
        @include media('<=lg-phone') {
            display: none;
        }     
    }

    .nav-items {
        width: auto;
        display: flex;
        align-items: center;
        @include media('>tablet') {
            height: inherit;
            margin-left: 8.542vw;            
        }
        @include media('<=tablet', '>lg-phone') {
            height: 9.375vh;
            margin-left: 6.250vw;
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;   
    } 
    li {
        display: inline-flex;
        align-items: center;
        font-family: $font-secondary;
        color: $text-primary-color;
        @include media('>tablet') {   
            font-size: calc(0.889vh + 0.556vw);
            margin-right: 3.333vw;
            height: 10vh;
            letter-spacing: 0.188vw;
            cursor: pointer;
        }
        @include media('<=tablet', '>lg-phone') {
            font-size: 1.823vw;
            letter-spacing: 0.307vw;
            margin-right: 4.510vw;
            height: 8.789vh;
        }
    }
    li:not(.nav-item-selected):hover {
        @include media('>tablet') {
            border-bottom: 0.333vh solid hsla(0, 0, 100, 0.5);
            padding-top: 0.333vh;
        }
    }
    .nav-item-selected {
        @include media('>lg-phone') {
            border-bottom:  0.333vh solid hsla(0, 0, 100, 1);
            padding-top:  0.333vh;
        }
    }
    .list_numbers {
        @include media('>tablet') {
            font-weight: bold;
            margin-right: 8.3px;
        }
        @include media('<=tablet', '>lg-phone') {
            display: none;
        }
    }

    .hamburger-container {
        @include media('>lg-phone') {
            display: none;
        }
        @include media('<=lg-phone') {
            margin-left: 70.133vw;
        }
        .hamburger-icon {
            margin-top: 8.8vw;
            height: 5.6vw;
        }
    }

}

