.notfound-container {
    min-height: 100vh;
    background-color: $base-color;
    background-image: url('../imgs/background-notfound.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    user-select: none;
    display: grid;
    grid-template-columns: 60% 40%;
    .notfound-text {
        color: $text-primary-color; 
        font-family: $font-primary;
        font-size: 70px;
        letter-spacing: 2px;  
        
    }
    .sth-wrong {
        color: $text-secondary-color;
        font-family: $font-secondary;
        font-size: 30px;
        letter-spacing: 2.7px;
        margin-top: -50px;
    }
}