.sidebar {
    user-select: none;

    @include media('>lg-phone') {
        display: none;
    }
    .nav-items {
            position: relative;
            top: 118px;
            margin-left: 32px;     
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: calc(100% - 4px);      
    } 
    li {
        display: inline-flex;
        align-items: center;
        font-family: $font-secondary;
        color: $text-primary-color;
        display: block;
        margin-bottom: 20px;
        font-size: 4.267vw;
        letter-spacing: 0.720vw;
        width: 100%;
        height: 31px;
        line-height: 31px;       
    }
    
    .nav-item-selected {
        border-right: 4px solid hsla(0, 0, 100, 1);     
    }
    .list_numbers {
        font-weight: bold;
        margin-right: 2.213vw;      
    }
//what's the use of this?
    /* .hamburger-container {
        margin-left: 263px;
        margin-top: 33px;    
        background-color: #fff;    
    } */
    
    .sliding-panel-container {
        backdrop-filter: blur(30px);
    }

    .side-panel { 
        background-color: hsla(0, 0%, 59%, 0.1);
        backdrop-filter: blur(0px) !important;
        .x-container {
            position: absolute;
            //top: 33.95px;
            margin-left: 55.587vw;
            .close-icon {
                margin-top: 9.053vw;//33.95px;

                height: 5.307vw;
            }
        }
    }
}