.technology-container {
    min-height: 100vh;
    background-color: $base-color;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;

    @include media('>tablet') {
        background-image: url('../imgs/background-technology-desktop.jpg');
    }
    @include media('<=tablet', '>lg-phone') {
        background-image: url('../imgs/background-technology-tablet.jpg');
    }
    @include media('<=lg-phone') {
        background-image: url('../imgs/background-technology-mobile.jpg');
        text-align: center;
        overflow: auto;
    }
}

.technology-header {
    font-family: $font-secondary;
    color: $text-primary-color;
    @include media('>tablet') {
        margin-top: 13vh;
        margin-left: 11.563vw;   
        font-size: calc(1.556vh + 0.972vw);
        letter-spacing: 0.524vh;
    }
    @include media('<=tablet', '>lg-phone') {
        margin-top: 3.906vh;
        margin-left: 5.013vw;
        font-size: calc(0.997vh + 1.302vw);
        letter-spacing: 0.440vw;
    }
    @include media('<=lg-phone') {
        margin-top: 24px;
        font-size: 4.267vw;
        letter-spacing: 0.720vw;
    }
    .technology-h-number {
        color: hsla(0, 0, 100, .25);
        margin-right: 1.339vw;
        @include media('<=lg-phone') {
            margin-right: 3.547vw;
        }
    }
}

.tab-cell-img-container {
    @include media('>tablet') {
        display: none;
    }
    @include media('<=tablet', '>lg-phone') {
        margin-top: 5.859vh;
        width: 100vw;
        height: auto;
        max-width:100%;
    }
    @include media('<=lg-phone') {
        margin-top: 32px;
        width: 100vw;
    }
    .tab-cell-img {
        width: 100vw;
        max-width:100%;

        margin-bottom: auto;
        
    }
}

.technology-info-grid {
    @include media('>tablet') {
        display: grid;
        grid-template-columns: 60vw 40vw;
    }
    .technology-data {
        @include media('>tablet') {
            display: grid;
            grid-template-columns: 11.111vw 32.639vw;
            margin-top: 15.222vh;
            margin-left: 11.458vw;
            
        }
        .nav-col {
            @include media('<=tablet', '>lg-phone') {
                display: flex;
                justify-content: center;
            }
        }
        .nav-bullet {
            border: solid 1px $text-secondary-color;
            align-items: center;
            justify-content: center;
            color: $text-primary-color;
            font-family: $font-primary;
            @include media('>tablet') {
                display: flex;
                height: calc(4.444vh + 2.778vw);
                width: calc(4.444vh + 2.778vw);
                border-radius: calc(2.222vh + 1.389vw);
                font-size: calc(1.778vh + 1.111vw);
                cursor: pointer;
                margin-bottom: 3.556vh;        
            }
            @include media('<=tablet') {
                display: inline-flex;
                margin-top: 5.469vh;
                margin-right: 1.042vw;
                margin-left: 1.042vw;
                height: calc(2.930vh + 3.906vw);
                width: calc(2.930vh + 3.906vw);
                border-radius: calc(1.465vh + 1.953vw);
            }
            @include media('<=lg-phone') {
                margin-top: 34px;
                height: 10.667vw;
                width: 10.667vw;
                border-radius: 5.3335vw;
                margin-right: 2.133vw;
                margin-left: 2.133vw;
                font-size: 4.266vw;
            }
            
        }
        .nav-bullet:not(.clieked-bullet):hover {
            border: solid 1px $text-primary-color;
        }
        .clicked-bullet {
            background-color: $text-primary-color;
            color: hsl(230, 35, 7);
        }
        .data-col  {
            @include media('<=tablet', '>lg-phone') {
                text-align: center;
                display: grid;
                justify-content: center;
            }
            .mini-header {
                font-family: $font-secondary;
                color: $text-secondary-color;
                @include media('>tablet') {
                    margin-top: 0px;
                    letter-spacing: 0.3vh;
                    font-size: calc(0.889vh + 0.556vw);             
                }
                @include media('<=tablet', '>lg-phone') {
                    letter-spacing: 2.7px;
                    margin-top: 4.297vh;
                    font-size: calc(0.781vh + 1.042vw);
                }
                @include media('<=lg-phone') {
                    margin-top: 26px;
                    font-size: 3.733vw;
                    letter-spacing: 0.629vw;
                }
            }
            .technology-name {
                font-family: $font-primary;
                color: $text-primary-color;
                @include media('>tablet') {
                    font-size: calc(3.111vh + 1.944vw);
                    margin-bottom: 0px;
                    margin-top: 1.222vh;
                    min-height: 7.111vh;
                }
                @include media('<=tablet', '>lg-phone') {
                    margin-top: 0.098vh;  
                    font-size: calc(1.953vh + 2.604vw); 
                }
                @include media('<=lg-phone') {
                    margin-top: 9px;
                    font-size: 6.4vw;
                }
            }
            .technology-description {
                font-family: $font-tertiary;
                color: $text-secondary-color;
                @include media('>tablet') {
                    line-height: 2;
                    height: 21.333vh;
                    width: 30.833vw;
                    font-size: 2vh;
                    margin-top: 1.889vh;
                }
                @include media('<=tablet', '>lg-phone') {
                    width: 57.943vw;
                    margin-top: -2.344vh;
                    font-size: calc(0.781vh + 1.042vw);
                    line-height: 1.7;

                }
                @include media('<=lg-phone') {
                    width: 87.2vw;
                    margin-top: -8px;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 4vw;
                    line-height: 1.6;
                    margin-bottom: 10px;
                }
            }
        }
    }
    
    .technology-img-col {
        text-align: right;
        .tech-img {
            @include media('>tablet') {
                margin-top: 2.889vh;
                justify-self: self-end;
                height: MIN(58.556vh, 36.597vw);
            }
            @include media('<=tablet') {
                display: none;           
            }
        }
    }
}
