@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
$base-color: hsl(230, 35, 7);
$text-primary-color: hsl(0, 0, 100);
$text-secondary-color: hsl(231, 79, 90);
$font-primary:'Bellefair', serif;
$font-secondary: 'Barlow Condensed', sans-serif;
$font-tertiary: 'Barlow', sans-serif;
@import 'Navbar';