@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 901px) {
  .navbar {
    margin-left: auto;
    width: 96.181vw;
    height: 10.667vh;
    top: 4.444vh;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .navbar {
    height: 9.375vh;
    top: 0px;
    margin-left: 5.078vw;
  }
}

.navbar .navbar_left-half {
  display: -ms-grid;
  display: grid;
  background-color: transparent;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 901px) {
  .navbar .navbar_left-half {
    width: 38.542vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .navbar .navbar_left-half {
    width: 36.198vw;
  }
}

.navbar .navbar_left-half .nav-icon {
  height: calc(2.667vh + 1.667vw);
}

@media (max-width: 900px) and (min-width: 451px) {
  .navbar .navbar_left-half .nav-icon {
    height: 4.688vh;
  }
}

@media (max-width: 450px) {
  .navbar .navbar_left-half .nav-icon {
    height: 10.667vw;
    margin-top: 6.4vw;
    margin-left: 6.4vw;
  }
}

@media (min-width: 901px) {
  .navbar .navbar_left-half .line {
    display: inline-block;
    position: absolute;
    width: 32.847vw;
    height: 0.069vw;
    background-color: #FFFFFF;
    margin-top: 5.278vh;
    margin-left: 7.778vw;
    z-index: 1000;
  }
}

@media (max-width: 900px) {
  .navbar .navbar_left-half .line {
    display: none;
  }
}

.navbar .navbar_right-half {
  display: -ms-grid;
  display: grid;
  margin-right: 0px;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 901px) {
  .navbar .navbar_right-half {
    width: 59.928%;
    height: inherit;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .navbar .navbar_right-half {
    width: 59.896vw;
    height: 9.375vh;
  }
}

@media (max-width: 450px) {
  .navbar .navbar_right-half {
    display: none;
  }
}

.navbar .nav-items {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 901px) {
  .navbar .nav-items {
    height: inherit;
    margin-left: 8.542vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .navbar .nav-items {
    height: 9.375vh;
    margin-left: 6.250vw;
  }
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Barlow Condensed", sans-serif;
  color: white;
}

@media (min-width: 901px) {
  .navbar li {
    font-size: calc(0.889vh + 0.556vw);
    margin-right: 3.333vw;
    height: 10vh;
    letter-spacing: 0.188vw;
    cursor: pointer;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .navbar li {
    font-size: 1.823vw;
    letter-spacing: 0.307vw;
    margin-right: 4.510vw;
    height: 8.789vh;
  }
}

@media (min-width: 901px) {
  .navbar li:not(.nav-item-selected):hover {
    border-bottom: 0.333vh solid rgba(255, 255, 255, 0.5);
    padding-top: 0.333vh;
  }
}

@media (min-width: 451px) {
  .navbar .nav-item-selected {
    border-bottom: 0.333vh solid white;
    padding-top: 0.333vh;
  }
}

@media (min-width: 901px) {
  .navbar .list_numbers {
    font-weight: bold;
    margin-right: 8.3px;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .navbar .list_numbers {
    display: none;
  }
}

@media (min-width: 451px) {
  .navbar .hamburger-container {
    display: none;
  }
}

@media (max-width: 450px) {
  .navbar .hamburger-container {
    margin-left: 70.133vw;
  }
}

.navbar .hamburger-container .hamburger-icon {
  margin-top: 8.8vw;
  height: 5.6vw;
}

.home-container {
  min-height: 100vh;
  background-color: #0c0e18;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 901px) {
  .home-container {
    display: -ms-grid;
    display: grid;
    background-image: url("../imgs/background-home-desktop.jpg");
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .home-container {
    display: block;
    background-image: url("../imgs/background-home-tablet.jpg");
  }
}

@media (max-width: 900px) and (min-width: 451px) and (min-aspect-ratio: 4 / 4) {
  .home-container {
    background-position: center;
  }
}

@media (max-width: 450px) {
  .home-container {
    background-image: url("../imgs/background-home-mobile.jpg");
  }
}

@media (min-width: 901px) {
  .home-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    margin-top: 7.889vh;
  }
}

.home_jumbo {
  background-color: rgba(255, 255, 255, 0);
}

@media (min-width: 901px) {
  .home_jumbo {
    margin-left: 11.458vw;
    height: 42.44vh;
    width: 31.250vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .home_jumbo {
    margin-top: 10.352vh;
    margin-left: auto;
    margin-right: auto;
    width: 58.594vw;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .home_jumbo {
    margin-top: 7.196vh;
    text-align: center;
  }
}

.home_jumbo .jumbo_premise {
  font-family: "Barlow Condensed", sans-serif;
  color: #d1d7fa;
}

@media (min-width: 901px) {
  .home_jumbo .jumbo_premise {
    margin-bottom: 2.667vh;
    margin-top: 0px;
    font-size: calc(1.556vh + 0.972vw);
    letter-spacing: 0.328vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .home_jumbo .jumbo_premise {
    margin-bottom: 2.344vh;
    font-size: 1.953vh;
    letter-spacing: 0.440vw;
  }
}

@media (max-width: 450px) {
  .home_jumbo .jumbo_premise {
    margin-bottom: 2.399vh;
    font-size: calc(1.199vh + 2.133vw);
    letter-spacing: 0.720vw;
  }
}

.home_jumbo .jumbo_capital {
  margin: 0px;
  font-family: "Bellefair", serif;
  color: white;
}

@media (min-width: 901px) {
  .home_jumbo .jumbo_capital {
    font-size: calc(8.333vh + 5.208vw);
    margin-bottom: 2.667vh;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .home_jumbo .jumbo_capital {
    font-size: calc(7.324vh + 9.766vw);
  }
}

@media (max-width: 450px) {
  .home_jumbo .jumbo_capital {
    font-size: MIN(11.994vh, 21.333vw);
    margin-bottom: 2.399vh;
    height: 14.993vh;
  }
}

.home_jumbo .jumbo_text {
  margin: 0;
  font-family: "Barlow", sans-serif;
  color: #d1d7fa;
  padding-left: 0.5px;
  padding-right: 5.5px;
}

@media (min-width: 901px) {
  .home_jumbo .jumbo_text {
    font-size: MAX(2vh, 14px);
    line-height: 2;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .home_jumbo .jumbo_text {
    font-size: calc(0.781vh + 1.042vw);
    line-height: 2;
  }
}

@media (max-width: 450px) {
  .home_jumbo .jumbo_text {
    width: 87.2vw;
    font-size: calc(1.124vh + 2vw);
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
  }
}

.main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Bellefair", serif;
  background-color: white;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0B0D17;
}

@media (min-width: 901px) {
  .main-button {
    height: 30.444vh;
    width: 30.444vh;
    border-radius: 15.222vh;
    font-size: 3.556vh;
    letter-spacing: 0.222vh;
    margin-left: 19.514vw;
    margin-top: 12vh;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .main-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15.234vh;
    height: 23.633vh;
    width: 23.633vh;
    border-radius: 11.8165vh;
    font-size: 3.125vh;
    letter-spacing: 0.260vw;
    margin-bottom: 10px;
    -webkit-tap-highlight-color: transparent;
  }
}

@media (max-width: 450px) {
  .main-button {
    height: MIN(22.489vh, 40vw);
    width: MIN(22.489vh, 40vw);
    border-radius: MIN(11.2445vh, 20vw);
    margin-top: 12.144vh;
    margin-right: auto;
    margin-left: auto;
    font-size: 5.333vw;
    letter-spacing: 1.25px;
    margin-bottom: 10px;
    -webkit-tap-highlight-color: transparent;
  }
}

@media (min-width: 901px) {
  .main-button:hover {
    -webkit-box-shadow: 0 0 0 9.778vh rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 0 9.778vh rgba(255, 255, 255, 0.2);
  }
}

@media (min-width: 901px) {
  .main-button:active {
    background-color: transparent;
    color: white;
    -webkit-box-shadow: 0 0 0 9.778vh rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 0 9.778vh rgba(255, 255, 255, 0.5);
  }
}

@media (max-width: 900px) {
  .main-button:active {
    background-color: transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid white;
    color: white;
  }
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 901px) {
  .navbar {
    margin-left: auto;
    width: 96.181vw;
    height: 10.667vh;
    top: 4.444vh;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .navbar {
    height: 9.375vh;
    top: 0px;
    margin-left: 5.078vw;
  }
}

.navbar .navbar_left-half {
  display: -ms-grid;
  display: grid;
  background-color: transparent;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 901px) {
  .navbar .navbar_left-half {
    width: 38.542vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .navbar .navbar_left-half {
    width: 36.198vw;
  }
}

.navbar .navbar_left-half .nav-icon {
  height: calc(2.667vh + 1.667vw);
}

@media (max-width: 900px) and (min-width: 451px) {
  .navbar .navbar_left-half .nav-icon {
    height: 4.688vh;
  }
}

@media (max-width: 450px) {
  .navbar .navbar_left-half .nav-icon {
    height: 10.667vw;
    margin-top: 6.4vw;
    margin-left: 6.4vw;
  }
}

@media (min-width: 901px) {
  .navbar .navbar_left-half .line {
    display: inline-block;
    position: absolute;
    width: 32.847vw;
    height: 0.069vw;
    background-color: #FFFFFF;
    margin-top: 5.278vh;
    margin-left: 7.778vw;
    z-index: 1000;
  }
}

@media (max-width: 900px) {
  .navbar .navbar_left-half .line {
    display: none;
  }
}

.navbar .navbar_right-half {
  display: -ms-grid;
  display: grid;
  margin-right: 0px;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 901px) {
  .navbar .navbar_right-half {
    width: 59.928%;
    height: inherit;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .navbar .navbar_right-half {
    width: 59.896vw;
    height: 9.375vh;
  }
}

@media (max-width: 450px) {
  .navbar .navbar_right-half {
    display: none;
  }
}

.navbar .nav-items {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 901px) {
  .navbar .nav-items {
    height: inherit;
    margin-left: 8.542vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .navbar .nav-items {
    height: 9.375vh;
    margin-left: 6.250vw;
  }
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Barlow Condensed", sans-serif;
  color: white;
}

@media (min-width: 901px) {
  .navbar li {
    font-size: calc(0.889vh + 0.556vw);
    margin-right: 3.333vw;
    height: 10vh;
    letter-spacing: 0.188vw;
    cursor: pointer;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .navbar li {
    font-size: 1.823vw;
    letter-spacing: 0.307vw;
    margin-right: 4.510vw;
    height: 8.789vh;
  }
}

@media (min-width: 901px) {
  .navbar li:not(.nav-item-selected):hover {
    border-bottom: 0.333vh solid rgba(255, 255, 255, 0.5);
    padding-top: 0.333vh;
  }
}

@media (min-width: 451px) {
  .navbar .nav-item-selected {
    border-bottom: 0.333vh solid white;
    padding-top: 0.333vh;
  }
}

@media (min-width: 901px) {
  .navbar .list_numbers {
    font-weight: bold;
    margin-right: 8.3px;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .navbar .list_numbers {
    display: none;
  }
}

@media (min-width: 451px) {
  .navbar .hamburger-container {
    display: none;
  }
}

@media (max-width: 450px) {
  .navbar .hamburger-container {
    margin-left: 70.133vw;
  }
}

.navbar .hamburger-container .hamburger-icon {
  margin-top: 8.8vw;
  height: 5.6vw;
}

.sidebar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* .hamburger-container {
        margin-left: 263px;
        margin-top: 33px;    
        background-color: #fff;    
    } */
}

@media (min-width: 451px) {
  .sidebar {
    display: none;
  }
}

.sidebar .nav-items {
  position: relative;
  top: 118px;
  margin-left: 32px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: calc(100% - 4px);
}

.sidebar li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  display: block;
  margin-bottom: 20px;
  font-size: 4.267vw;
  letter-spacing: 0.720vw;
  width: 100%;
  height: 31px;
  line-height: 31px;
}

.sidebar .nav-item-selected {
  border-right: 4px solid white;
}

.sidebar .list_numbers {
  font-weight: bold;
  margin-right: 2.213vw;
}

.sidebar .sliding-panel-container {
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.sidebar .side-panel {
  background-color: rgba(150, 150, 150, 0.1);
  -webkit-backdrop-filter: blur(0px) !important;
          backdrop-filter: blur(0px) !important;
}

.sidebar .side-panel .x-container {
  position: absolute;
  margin-left: 55.587vw;
}

.sidebar .side-panel .x-container .close-icon {
  margin-top: 9.053vw;
  height: 5.307vw;
}

.destinations-container {
  min-height: 100vh;
  background-color: #0c0e18;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 901px) {
  .destinations-container {
    background-image: url("../imgs/background-destination-desktop.jpg");
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .destinations-container {
    background-image: url("../imgs/background-destination-tablet.jpg");
  }
}

@media (max-width: 450px) {
  .destinations-container {
    background-image: url("../imgs/background-destination-mobile.jpg");
    text-align: center;
  }
}

.destinations-header {
  color: white;
  font-family: "Barlow Condensed", sans-serif;
}

@media (min-width: 901px) {
  .destinations-header {
    margin-top: 12.889vh;
    margin-left: 11.563vw;
    font-size: calc(1.556vh + 0.972vw);
    letter-spacing: 0.328vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .destinations-header {
    margin-top: 3.906vh;
    margin-left: 5.013vw;
    font-size: calc(0.977vh + 1.302vw);
    letter-spacing: 0.440vw;
  }
}

@media (max-width: 450px) {
  .destinations-header {
    margin-top: 24px;
    font-size: 4.267vw;
    letter-spacing: 0.720vw;
  }
}

.destinations-header .header-number {
  color: rgba(255, 255, 255, 0.25);
}

@media (min-width: 901px) {
  .destinations-header .header-number {
    margin-right: 1.617vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .destinations-header .header-number {
    margin-right: 2.034vw;
  }
}

@media (max-width: 450px) {
  .destinations-header .header-number {
    margin-right: 3.36vw;
  }
}

.planet-grid {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 901px) {
  .planet-grid {
    margin-top: 3.222vh;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .planet-grid {
    margin-top: -20px;
  }
}

@media (min-width: 901px) {
  .planet-grid .planet-img-col {
    margin-top: 10.778vh;
  }
}

.planet-grid .planet-img-col .planet-img {
  background-color: #0c0e18;
}

@media (min-width: 901px) {
  .planet-grid .planet-img-col .planet-img {
    height: MIN(30.903vw, 49.444vh);
    width: MIN(30.903vw, 49.444vh);
    border-radius: MIN(15.4515vw, 24.722vh);
    /* height: calc(32.778vh + 10.417vw);
                width: calc(32.778vh + 10.417vw);
                border-radius: calc(16.389vh + 5.208vw); */
    margin-left: 15.972vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .planet-grid .planet-img-col .planet-img {
    margin-top: MAX(5.859vh, 20px);
    margin-left: auto;
    margin-right: auto;
    height: calc(14.648vh + 19.531vw);
    width: calc(14.648vh + 19.531vw);
    border-radius: calc(7.324vh + 9.7655vw);
  }
}

@media (max-width: 450px) {
  .planet-grid .planet-img-col .planet-img {
    height: 45.333vw;
    width: 45.333vw;
    border-radius: 22.6665vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }
}

.planet-grid .planet-info-col {
  background-color: transparent;
}

@media (min-width: 901px) {
  .planet-grid .planet-info-col {
    margin-top: 7.11vh;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .planet-grid .planet-info-col {
    text-align: center;
  }
}

@media (min-width: 901px) {
  .planet-grid .planet-info-col .planet-info {
    margin-left: 7.778vw;
    height: 52.444vh;
    width: 30.903vw;
  }
}

@media (min-width: 901px) {
  .planet-grid .planet-info-col .mini-nav-bar {
    height: 3.778vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-items: center;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .planet-grid .planet-info-col .mini-nav-bar {
    margin-top: 5.176vh;
    height: 3.32vh;
  }
}

@media (max-width: 450px) {
  .planet-grid .planet-info-col .mini-nav-bar {
    margin-top: 26px;
  }
}

.planet-grid .planet-info-col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.planet-grid .planet-info-col li {
  display: inline-block;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Barlow Condensed", sans-serif;
  color: white;
}

@media (min-width: 901px) {
  .planet-grid .planet-info-col li {
    margin-right: 2.243vw;
    font-size: calc(0.889vh + 0.556vw);
    letter-spacing: 0.188vw;
    cursor: pointer;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .planet-grid .planet-info-col li {
    margin-right: 2.168vw;
    margin-left: 2.168vw;
    font-size: calc(0.781vh + 1.042vw);
    letter-spacing: 0.352vw;
    color: #d1d7fa;
  }
}

@media (max-width: 450px) {
  .planet-grid .planet-info-col li {
    margin-right: 3.467vw;
    margin-left: 3.467vw;
    height: 7.467vw;
    font-size: 3.733vw;
    letter-spacing: 0.269vw;
  }
}

.planet-grid .planet-info-col li:not(.nav-item-selected):hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding-top: 3px;
}

.planet-grid .planet-info-col .nav-item-selected {
  border-bottom: 3px solid white;
  padding-top: 3px;
}

.planet-grid .planet-info-col .planet-header {
  font-family: "Bellefair", serif;
  color: white;
  text-align: top;
}

@media (min-width: 901px) {
  .planet-grid .planet-info-col .planet-header {
    margin-top: MAX(4.11vh, 10px);
    height: 12.778vh;
    font-size: MIN(6.944vw, 11.111vh);
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .planet-grid .planet-info-col .planet-header {
    font-size: calc(3.906vh + 5.208vw);
    margin-top: MAX(3.125vh, 20px);
  }
}

@media (max-width: 450px) {
  .planet-grid .planet-info-col .planet-header {
    margin-top: 20px;
    font-size: 14.933vw;
  }
}

.planet-grid .planet-info-col .planet-description {
  font-family: "Barlow", sans-serif;
  color: #d1d7fa;
  line-height: 2;
}

@media (min-width: 901px) {
  .planet-grid .planet-info-col .planet-description {
    margin-top: 1.556vh;
    font-size: calc(1vh + 0.625vw);
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .planet-grid .planet-info-col .planet-description {
    width: 74.609vw;
    margin-top: 0.781vh;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(0.781vh + 1.042vw);
  }
}

@media (max-width: 450px) {
  .planet-grid .planet-info-col .planet-description {
    width: 87.2vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
  }
}

.planet-grid .planet-info-col .planet-additional-info {
  border-top: solid 1px #383B4B;
}

@media (min-width: 901px) {
  .planet-grid .planet-info-col .planet-additional-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    margin-top: 6vh;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .planet-grid .planet-info-col .planet-additional-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    width: 74.609vw;
    margin-top: 4.785vh;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 450px) {
  .planet-grid .planet-info-col .planet-additional-info {
    margin-top: 32px;
    width: 87.2vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.planet-grid .planet-info-col .planet-additional-info .distance {
  display: inline-block;
}

@media (min-width: 901px) {
  .planet-grid .planet-info-col .planet-additional-info .distance {
    width: 11.181vw;
  }
}

@media (max-width: 450px) {
  .planet-grid .planet-info-col .planet-additional-info .distance {
    display: block;
  }
}

.planet-grid .planet-info-col .planet-additional-info .traveltime {
  display: inline-block;
}

@media (min-width: 901px) {
  .planet-grid .planet-info-col .planet-additional-info .traveltime {
    width: 11.181vw;
  }
}

.planet-grid .planet-info-col .planet-additional-info .additional-info-header {
  font-family: "Barlow Condensed", sans-serif;
  color: #d1d7fa;
}

@media (min-width: 901px) {
  .planet-grid .planet-info-col .planet-additional-info .additional-info-header {
    font-size: calc(0.778vh + 0.486vw);
    letter-spacing: 0.164vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .planet-grid .planet-info-col .planet-additional-info .additional-info-header {
    font-size: calc(0.684vh + 0.911vw);
    letter-spacing: 0.307vw;
    margin-top: 2.734vh;
  }
}

@media (max-width: 450px) {
  .planet-grid .planet-info-col .planet-additional-info .distance-h {
    margin-top: 32px;
    font-size: 3.733vw;
    letter-spacing: 0.629vw;
  }
}

@media (max-width: 450px) {
  .planet-grid .planet-info-col .planet-additional-info .travel-h {
    margin-top: 4px;
    font-size: 3.733vw;
    letter-spacing: 0.269vw;
  }
}

.planet-grid .planet-info-col .planet-additional-info .additional-info-data {
  font-family: "Bellefair", serif;
  color: white;
}

@media (min-width: 901px) {
  .planet-grid .planet-info-col .planet-additional-info .additional-info-data {
    font-size: calc(1.556vh + 0.972vw);
    margin-top: 1.333vh;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .planet-grid .planet-info-col .planet-additional-info .additional-info-data {
    font-size: calc(1.367vh + 1.823vw);
    margin-top: 1.172vh;
  }
}

@media (max-width: 450px) {
  .planet-grid .planet-info-col .planet-additional-info .distance-data {
    font-size: 7.467vw;
    margin-top: -2px;
  }
}

@media (max-width: 450px) {
  .planet-grid .planet-info-col .planet-additional-info .travel-data {
    font-size: 7.467vw;
    margin-top: -2px;
    margin-bottom: 58px;
  }
}

.crew-container {
  min-height: 100vh;
  background-color: #0c0e18;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 901px) {
  .crew-container {
    background-image: url("../imgs/background-crew-desktop.jpg");
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-container {
    background-image: url("../imgs/background-crew-tablet.jpg");
  }
}

@media (max-width: 450px) {
  .crew-container {
    background-image: url("../imgs/background-crew-mobile.jpg");
    text-align: center;
  }
}

.crew-grid {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 901px) {
  .crew-grid {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    margin-top: 13vh;
  }
}

@media (max-width: 450px) {
  .crew-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 450px) {
  .crew-grid .col-left {
    /* display: flex;
            flex-direction: column; */
  }
}

.crew-grid .col-left .crew-header {
  font-family: "Barlow Condensed", sans-serif;
  color: white;
}

@media (min-width: 901px) {
  .crew-grid .col-left .crew-header {
    margin-top: -3.111vh;
    margin-left: 11.563vw;
    font-size: calc(1.556vh + 0.972vw);
    letter-spacing: 0.328vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-left .crew-header {
    margin-top: 3.906vh;
    margin-left: 4.948vw;
    font-size: calc(0.977vh + 1.302vw);
    letter-spacing: 0.440vw;
  }
}

@media (max-width: 450px) {
  .crew-grid .col-left .crew-header {
    position: absolute;
    height: 19px;
    width: 100%;
    top: 74px;
    margin-left: auto;
    margin-right: auto;
    font-size: 4.267vw;
    letter-spacing: 0.720vw;
  }
}

.crew-grid .col-left .crew-header .crew-number {
  color: rgba(255, 255, 255, 0.25);
}

@media (min-width: 901px) {
  .crew-grid .col-left .crew-header .crew-number {
    margin-right: 1.339vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-left .crew-header .crew-number {
    margin-right: 1.643vw;
  }
}

@media (max-width: 450px) {
  .crew-grid .col-left .crew-header .crew-number {
    margin-right: 3.36vw;
  }
}

@media (min-width: 901px) {
  .crew-grid .col-left .member-info {
    margin-top: 17.111vh;
    margin-left: 11.563vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-left .member-info {
    margin-top: 5.859vh;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .crew-grid .col-left .member-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.crew-grid .col-left .member-info .member-role {
  font-family: "Bellefair", serif;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 901px) {
  .crew-grid .col-left .member-info .member-role {
    font-size: calc(1.778vh + 1.111vw);
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-left .member-info .member-role {
    font-size: calc(1.172vh + 1.563vw);
  }
}

@media (max-width: 450px) {
  .crew-grid .col-left .member-info .member-role {
    margin-top: 32px;
    font-size: 4.267vw;
  }
}

.crew-grid .col-left .member-info .member-name {
  font-family: "Bellefair", serif;
  color: white;
}

@media (min-width: 901px) {
  .crew-grid .col-left .member-info .member-name {
    margin-top: 1.667vh;
    height: 7.111vh;
    font-size: MIN(3.889vw, 6.222vh);
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-left .member-info .member-name {
    margin-top: 0.781vh;
    font-size: calc(1.953vh + 2.604vw);
  }
}

@media (max-width: 450px) {
  .crew-grid .col-left .member-info .member-name {
    margin-top: 8px;
    font-size: 6.4vw;
  }
}

.crew-grid .col-left .member-info .member-bio {
  font-family: "Barlow", sans-serif;
  line-height: 2;
  color: #d1d7fa;
}

@media (min-width: 901px) {
  .crew-grid .col-left .member-info .member-bio {
    margin-top: 3vh;
    height: 14.222vh;
    width: 30.883vw;
    font-size: calc(1vh + 0.625vw);
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-left .member-info .member-bio {
    margin-top: 1.563vh;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(0.781vh + 1.042vw);
    height: 8.203vh;
    vertical-align: text-top;
    line-height: calc(1.367vh + 1.823vw);
  }
}

@media (max-width: 450px) {
  .crew-grid .col-left .member-info .member-bio {
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 87.2vw;
    font-size: 4vw;
    line-height: 1.5;
    margin-bottom: 104px;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-left .member-info .bio-dou {
    width: 59.635vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-left .member-info .bio-mar {
    width: 67.708vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-left .member-info .bio-vic {
    width: 77.083vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-left .member-info .bio-ano {
    width: 69.792vw;
  }
}

@media (min-width: 901px) {
  .crew-grid .col-left .member-info .member-navbar {
    margin-top: 13.333vh;
    margin-left: 0.139vw;
    height: 1.667vh;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-left .member-info .member-navbar {
    margin-top: 3.906vh;
  }
}

@media (max-width: 450px) {
  .crew-grid .col-left .member-info .member-navbar {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.crew-grid .col-left .member-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 901px) {
  .crew-grid .col-left .member-info ul {
    height: 1.667vh;
  }
}

.crew-grid .col-left .member-info .custom-bullet {
  display: inline-block;
  background-color: rgba(150, 150, 150, 0.17);
}

@media (min-width: 901px) {
  .crew-grid .col-left .member-info .custom-bullet {
    height: calc(0.833vh + 0.536vw);
    width: calc(0.833vh + 0.536vw);
    border-radius: calc(0.4165vh + 0.268vw);
    margin-right: 1.875vw;
    margin-bottom: 0.222vh;
    cursor: pointer;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-left .member-info .custom-bullet {
    height: calc(0.556vh + 0.357vw);
    width: calc(0.556vh + 0.357vw);
    border-radius: calc(0.244vh + 0.326vw);
    margin-right: 1.042vw;
    margin-left: 1.042vw;
  }
}

@media (max-width: 450px) {
  .crew-grid .col-left .member-info .custom-bullet {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 32px;
  }
}

.crew-grid .col-left .member-info .custom-bullet:not(.member-selected):hover {
  background-color: rgba(150, 150, 150, 0.5);
}

.crew-grid .col-left .member-info .member-selected {
  background-color: white;
}

@media (min-width: 901px) {
  .crew-grid .col-right {
    margin-top: -7.778vh;
    height: 84.111vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    place-content: flex-end;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-right {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
  }
}

@media (max-width: 900px) and (min-width: 451px) and (min-aspect-ratio: 4 / 5) {
  .crew-grid .col-right {
    position: relative;
    margin-top: 3.906vh;
  }
}

@media (max-width: 450px) {
  .crew-grid .col-right {
    width: 87.2vw;
    height: 59.467vw;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    border-bottom: 1px solid #969696;
  }
}

@media (min-width: 901px) {
  .crew-grid .col-right .img-container-dou {
    width: MIN(39.449vw, 63.119vh);
    height: MIN(49.444vw, 79.111vh);
    margin-right: 9.509vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-right .img-container-dou {
    width: MIN(44.567vh, 59.423vw);
    height: MIN(51.953vh, 69.271vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
  }
}

@media (max-width: 450px) {
  .crew-grid .col-right .img-container-dou {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
}

@media (min-width: 901px) {
  .crew-grid .col-right .img-container-mar {
    width: MIN(31.489vw, 50.382vh);
    height: MIN(45.417vw, 72.667vh);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 12.956vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-right .img-container-mar {
    width: MIN(36.021vh, 48.027vw);
    height: MIN(51.953vh, 69.271vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
  }
}

@media (max-width: 450px) {
  .crew-grid .col-right .img-container-mar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
}

@media (min-width: 901px) {
  .crew-grid .col-right .img-container-vic {
    width: MIN(61.599vh, 38.499vw);
    height: MIN(72.667vh, 45.417vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 9.903vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-right .img-container-vic {
    width: MIN(44.567vh, 59.423vw);
    height: MIN(51.953vh, 69.271vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
  }
}

@media (max-width: 450px) {
  .crew-grid .col-right .img-container-vic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
}

@media (min-width: 901px) {
  .crew-grid .col-right .img-container-ano {
    width: MIN(68.397vh, 42.748vw);
    height: MIN(67.444vh, 42.153vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 6.210vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-right .img-container-ano {
    width: MIN(52.687vh, 70.249vw);
    height: MIN(51.953vh, 69.271vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
  }
}

@media (max-width: 450px) {
  .crew-grid .col-right .img-container-ano {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .crew-grid .col-right .crew-img {
    height: 100%;
  }
}

@media (max-width: 450px) {
  .crew-grid .col-right .crew-img {
    height: 100%;
  }
}

.technology-container {
  min-height: 100vh;
  background-color: #0c0e18;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 901px) {
  .technology-container {
    background-image: url("../imgs/background-technology-desktop.jpg");
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .technology-container {
    background-image: url("../imgs/background-technology-tablet.jpg");
  }
}

@media (max-width: 450px) {
  .technology-container {
    background-image: url("../imgs/background-technology-mobile.jpg");
    text-align: center;
    overflow: auto;
  }
}

.technology-header {
  font-family: "Barlow Condensed", sans-serif;
  color: white;
}

@media (min-width: 901px) {
  .technology-header {
    margin-top: 13vh;
    margin-left: 11.563vw;
    font-size: calc(1.556vh + 0.972vw);
    letter-spacing: 0.524vh;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .technology-header {
    margin-top: 3.906vh;
    margin-left: 5.013vw;
    font-size: calc(0.997vh + 1.302vw);
    letter-spacing: 0.440vw;
  }
}

@media (max-width: 450px) {
  .technology-header {
    margin-top: 24px;
    font-size: 4.267vw;
    letter-spacing: 0.720vw;
  }
}

.technology-header .technology-h-number {
  color: rgba(255, 255, 255, 0.25);
  margin-right: 1.339vw;
}

@media (max-width: 450px) {
  .technology-header .technology-h-number {
    margin-right: 3.547vw;
  }
}

@media (min-width: 901px) {
  .tab-cell-img-container {
    display: none;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .tab-cell-img-container {
    margin-top: 5.859vh;
    width: 100vw;
    height: auto;
    max-width: 100%;
  }
}

@media (max-width: 450px) {
  .tab-cell-img-container {
    margin-top: 32px;
    width: 100vw;
  }
}

.tab-cell-img-container .tab-cell-img {
  width: 100vw;
  max-width: 100%;
  margin-bottom: auto;
}

@media (min-width: 901px) {
  .technology-info-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60vw 40vw;
        grid-template-columns: 60vw 40vw;
  }
}

@media (min-width: 901px) {
  .technology-info-grid .technology-data {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 11.111vw 32.639vw;
        grid-template-columns: 11.111vw 32.639vw;
    margin-top: 15.222vh;
    margin-left: 11.458vw;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .technology-info-grid .technology-data .nav-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.technology-info-grid .technology-data .nav-bullet {
  border: solid 1px #d1d7fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: "Bellefair", serif;
}

@media (min-width: 901px) {
  .technology-info-grid .technology-data .nav-bullet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(4.444vh + 2.778vw);
    width: calc(4.444vh + 2.778vw);
    border-radius: calc(2.222vh + 1.389vw);
    font-size: calc(1.778vh + 1.111vw);
    cursor: pointer;
    margin-bottom: 3.556vh;
  }
}

@media (max-width: 900px) {
  .technology-info-grid .technology-data .nav-bullet {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 5.469vh;
    margin-right: 1.042vw;
    margin-left: 1.042vw;
    height: calc(2.930vh + 3.906vw);
    width: calc(2.930vh + 3.906vw);
    border-radius: calc(1.465vh + 1.953vw);
  }
}

@media (max-width: 450px) {
  .technology-info-grid .technology-data .nav-bullet {
    margin-top: 34px;
    height: 10.667vw;
    width: 10.667vw;
    border-radius: 5.3335vw;
    margin-right: 2.133vw;
    margin-left: 2.133vw;
    font-size: 4.266vw;
  }
}

.technology-info-grid .technology-data .nav-bullet:not(.clieked-bullet):hover {
  border: solid 1px white;
}

.technology-info-grid .technology-data .clicked-bullet {
  background-color: white;
  color: #0c0e18;
}

@media (max-width: 900px) and (min-width: 451px) {
  .technology-info-grid .technology-data .data-col {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.technology-info-grid .technology-data .data-col .mini-header {
  font-family: "Barlow Condensed", sans-serif;
  color: #d1d7fa;
}

@media (min-width: 901px) {
  .technology-info-grid .technology-data .data-col .mini-header {
    margin-top: 0px;
    letter-spacing: 0.3vh;
    font-size: calc(0.889vh + 0.556vw);
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .technology-info-grid .technology-data .data-col .mini-header {
    letter-spacing: 2.7px;
    margin-top: 4.297vh;
    font-size: calc(0.781vh + 1.042vw);
  }
}

@media (max-width: 450px) {
  .technology-info-grid .technology-data .data-col .mini-header {
    margin-top: 26px;
    font-size: 3.733vw;
    letter-spacing: 0.629vw;
  }
}

.technology-info-grid .technology-data .data-col .technology-name {
  font-family: "Bellefair", serif;
  color: white;
}

@media (min-width: 901px) {
  .technology-info-grid .technology-data .data-col .technology-name {
    font-size: calc(3.111vh + 1.944vw);
    margin-bottom: 0px;
    margin-top: 1.222vh;
    min-height: 7.111vh;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .technology-info-grid .technology-data .data-col .technology-name {
    margin-top: 0.098vh;
    font-size: calc(1.953vh + 2.604vw);
  }
}

@media (max-width: 450px) {
  .technology-info-grid .technology-data .data-col .technology-name {
    margin-top: 9px;
    font-size: 6.4vw;
  }
}

.technology-info-grid .technology-data .data-col .technology-description {
  font-family: "Barlow", sans-serif;
  color: #d1d7fa;
}

@media (min-width: 901px) {
  .technology-info-grid .technology-data .data-col .technology-description {
    line-height: 2;
    height: 21.333vh;
    width: 30.833vw;
    font-size: 2vh;
    margin-top: 1.889vh;
  }
}

@media (max-width: 900px) and (min-width: 451px) {
  .technology-info-grid .technology-data .data-col .technology-description {
    width: 57.943vw;
    margin-top: -2.344vh;
    font-size: calc(0.781vh + 1.042vw);
    line-height: 1.7;
  }
}

@media (max-width: 450px) {
  .technology-info-grid .technology-data .data-col .technology-description {
    width: 87.2vw;
    margin-top: -8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    line-height: 1.6;
    margin-bottom: 10px;
  }
}

.technology-info-grid .technology-img-col {
  text-align: right;
}

@media (min-width: 901px) {
  .technology-info-grid .technology-img-col .tech-img {
    margin-top: 2.889vh;
    -ms-grid-column-align: self-end;
        justify-self: self-end;
    height: MIN(58.556vh, 36.597vw);
  }
}

@media (max-width: 900px) {
  .technology-info-grid .technology-img-col .tech-img {
    display: none;
  }
}

.notfound-container {
  min-height: 100vh;
  background-color: #0c0e18;
  background-image: url("../imgs/background-notfound.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

.notfound-container .notfound-text {
  color: white;
  font-family: "Bellefair", serif;
  font-size: 70px;
  letter-spacing: 2px;
}

.notfound-container .sth-wrong {
  color: #d1d7fa;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 30px;
  letter-spacing: 2.7px;
  margin-top: -50px;
}

.loading {
  min-height: 100vh;
  background-color: #0c0e18;
}
/*# sourceMappingURL=style.css.map */